<br><br><br>

<p class="basic-title"><%= "#{t('messages.editing', model: @master_note.model_name.human)} - #{l(@master_note.date, format: :short)}" %></p>

<%= render 'form', master_note: @master_note %>
