<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title">Gráficos</p>

<%= column_chart @money, prefix: "R$", colors: ["#e94245", "#e94245"] %>
<%= column_chart @testetotal, prefix: "R$", colors: ["#e94245", "#e94245"] %>
