<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title">Gráficos</p>

<br>

<p class="basic-title2">Entradas em Dinheiro</p>

<%= column_chart @money, prefix: "R$", colors: ["#ce0202", "#63007a", "#0cff00"] %>

<br><br><br>

<p class="basic-title2">Entradas em Débito</p>

<%= column_chart @debit, prefix: "R$", colors: ["#ce0202", "#63007a"] %>

<br><br><br>

<p class="basic-title2">Entradas em Crédito</p>

<%= column_chart @debit, prefix: "R$", colors: ["#ce0202", "#63007a"] %>

<br><br>
