<br><br><br>

<p class="basic-title"><%= "#{t('messages.editing', model: @master_order.model_name.human)} - #{l(@master_order.date, format: :short)}" %></p>

<%= render 'form', master_order: @master_order %>
