<br><br><br>

<p class="basic-title"><%= "#{t('messages.editing', model: @master_bank.model_name.human)} - #{@master_bank.month} / #{@master_bank.year}" %></p>

<%= render 'form', master_bank: @master_bank %>
