<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expense_type.name %>
</p>

<%= link_to 'Edit', edit_expense_type_path(@expense_type) %> |
<%= link_to 'Back', expense_types_path %>
