<%= render partial: 'layouts/navigation' %>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>

<br><br><br>

<h1>Accounting::Dashboard#index</h1>
<p>Find me in app/views/accounting/dashboard/index.html.erb</p>
