@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
*   Template Style
* Edit this section
*
* ======================================================= */
body {
  font-family: "Prata", serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #616370;
  background: #26272c;
  height: 100%;
  position: relative;
}

a {
  color: #d73930;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #d73930;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #d73930;
}

::-moz-selection {
  color: #fff;
  background: #d73930;
}

::selection {
  color: #fff;
  background: #d73930;
}

.lead {
  font-size: 18px;
}

img {
  margin-bottom: 40px;
}

.mt {
  margin-top: 0px;
  margin-bottom: 80px;
}
.mt h4 {
  position: relative;
  padding-left: 40px;
  font-size: 20px;
}
.mt h4 i {
  position: absolute;
  left: 0;
  top: 0;
  color: #eb212e;
}
.mt > div {
  margin-bottom: 40px;
}
.mt .list-nav {
  margin: 50px 0 0 0;
  padding: 0;
}
.mt .list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
.mt .list-nav li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #eb212e;
}

.list-nav {
  margin: 30px 0 30px 0;
  padding: 0;
}
.list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
.list-nav li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #eb212e;
}

.partner-logo {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Open Sans", Arial, sans-serif !important;
}

.btn {
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #d73930;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
  font-size: 16px;
  font-weight: bold;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #d73930;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}
/*# sourceMappingURL=style.css.map */
