<h1>Editing Master Finance</h1>

<%= render 'form', master_finance: @master_finance %>

<%= link_to 'Show', accounting_master_finances_path(@master_finance) %> |
<%= link_to 'Back', accounting_master_finances_path %>
