<br><br><br>

<p class="basic-title"><%= "#{t('messages.editing', model: @master_finance.model_name.human)} - #{l(@master_finance.date, format: :short)}" %></p>

<%= render 'form', master_finance: @master_finance %>
