<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <%= link_to t('app.name'), home_index_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <%= link_to t('app.products'), products_path, class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item">
          <%= link_to t('app.accounting'), accounting_path, class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item ">
          <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link js-scroll-trigger" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
